@font-face {
    font-family: "FF";
    src: url(fonts/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
    font-family: "FF2";
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'FF';
    font-weight: 400;
    padding-inline: 1rem;
    background: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%);
    padding-block: 3rem;
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .5;
}

.card-cont{
    display: flex;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}
.card-cont h1 span{
    color: hsl(277, 64%, 61%);
}
.text{
    padding: 20px;
    text-align: center;
}
.card-cont h1{
    font-weight: 700;
    font-size: 1.8rem;
}
.card-cont p{
    color: hsla(0, 0%, 100%, 0.568);
    font-weight: 300;
    font-family: 'FF2';
    font-size: .95rem;
}
.info{
    font-family: 'FF2';
    
}
.info-cont span{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'FF2';
    font-size: .8rem;
    font-weight: 300;
}